.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  
.registerForm mat-form-field{
padding: 5px;
width: 75%;
}